.board{

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__row{
        display: flex;
        justify-content: center;

    }

    &__tile{
        width: 62px;
        height: 62px;
        margin: 5px;
        border: 2px solid #4b4b4b;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }


    &__correct{
        background-color: #5e9342;
    }
    &__exist{
        background-color: #cea728;
    }
    &__wrong{
        background-color: #373737;
    }
    &__unactive{
        background-color: transparent;
    }

}