.keyboard{

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__row{
        display: flex;
    }

    &__key{
        
        height: 58px;
        background-color: rgb(129, 131, 132);
        border-radius: 4px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--letter{
            width: 43px;
        }
        &--special{
            width: 65px;
        }
    }

}