.keyboard{

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        position: relative;
    }
    &__row{
        display: flex;
        position: relative;
        max-width: 100%;
    }

    &__key{
        
        height: 58px;
        background-color: rgb(129, 131, 132);
        border-radius: 4px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:focus{
            outline: 1px solid #fff;
        }

        &--letter{
            width: 43px;
        }
        &--enter{
            padding: 0 5px;
        }
        &--backspace{
            padding: 0 5px;
        }
        &--correct{
            background-color: #5e9342;
        }
        &--exist{
            background-color: #cea728;
        }
        &--wrong{
            background-color: #373737;
        }
    }

}

@media only screen and (max-width: 500px) {
    
    .keyboard{

    
        &__key{
            margin: 1px;
    
            &--letter{
                width: initial;
            }
        }
    }

  }